<section id="register" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <form>
                  <h1 class="h3 mb-3 font-weight-normal">Registro</h1>
                  <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre completo" required minlength="4"
                      maxlength="15">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required
                      minlength="8">
                  </div>

                  <div class="form-group">
                    <input type="text" name="telefono" class="form-control" placeholder="Teléfono" required>
                  </div>

                  <div class="form-group">
                    <input type="text" name="entidad" class="form-control" placeholder="Entidad" required>
                  </div>

                  <div class="form-group">
                    <input type="text" name="entidad" class="form-control" placeholder="Cargo" required>
                  </div>

                  <div class="form-group">
                    <input type="text" name="entidad" class="form-control" placeholder="Localidad" required>
                  </div>
                 
                  <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password"
                      required minlength="5" maxlength="10">
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>
                  <div class="form-group">
                    <a routerLink="/login" class="form-control login-user"> ¿Ya tenés una cuenta? Ingresá!</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
